---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';


@import '../_sass/vars';

// Overall 
body {
    @extend %roboto;
    font-size: 18px;
    line-height: 30px;
    padding-top: 61px;
    -webkit-font-smoothing: antialiased;
    background-color: #eeeeee;
}
p {
    margin-bottom: 30px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $fm-orange;

    &:hover { color: #6165FF; }
}
.btn {
    text-transform: uppercase;
    font-weight: 400;
    @extend %oswald;
    background-color: #607D8B;
    border-color: #607D8B;
}
h1, h2, h3, h4, h5, h6 { @extend %oswald; }
::selection {
    background: #086AFF;
    color: #fff;
}

//Title-group (page header)
.title-group {
    text-align: center;
    padding: 0 15px;
    margin: 50px 0 100px;

    p {
        max-width: 800px;
        margin: 25px auto 0;
    }
}
h1.special {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
    @extend %oswald;
    font-size: 69px;
    line-height: 69px;
    font-weight: 700;
    color: $fm-orange;

    span {
        display: inline-block;
        position: relative;
        padding: 0 15px;
        max-width: 1000px;

        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: #e8e8e8;
            width: 99999999px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before { left: 100%; }
        &:after { right: 100%; }
    }
}

// Post metadata (date, tags)
aside {
    font-size: 17px;
    color: #525252;
    margin: 16px 0;
    @extend %oswald;

    span {
        text-transform: uppercase;
        margin: 0 5px;
    }
}

// Code blocks
pre {
    margin: 75px -100px;
}

@import '../_sass/homepage';
@import '../_sass/posts';
@import '../_sass/navbar';
@import '../_sass/footer';
@import '../_sass/blogfeed';
@import '../_sass/swipe';

// #############         DO ANY MEDIA QUERIES TWEAKING IN THIS FILE ########## //

// Media Queries //

// All exect large desktop
@media only screen and (max-width : 991px) {
    pre {
        margin-left: 0;
        margin-right: 0;
    }
}

// Tablet + Phone
@media only screen and (max-width: 767px) {
    // Homepage 
    #home-hero-img {
        width: 90%;
        vertical-align: middle;
    }

    // Swipe
    #swipe-hero-logo {
        max-height: 100px;
    }
    #swipe-hero-img {
        max-height: 300px;
    }
    
    .swipe-app-store-container {
        max-height: 150px;
    }

    #swipe-app-store {
        width: 50%;
        vertical-align: middle;
    }

    .swipe-tagline-container p {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 10%; 
        padding-right: 10%;
        color: $fm-orange;

        font-size: 36px;
        text-align: center;
    }
}

// Phone only 
@media only screen and (max-width : 480px) {
    .tile .featurette, .topper {
        height: 300px;
    }

    h1.special,
    .tile h2 {
        font-size: 40px;
        line-height: 44px;
    }

    .tile .inner-guts {
        padding: 15px 25px;
    }

    .tile .excerpt {
        font-size: 22px;
        line-height: 35px;
    }

    //Swipe
    #swipe-app-store {
        padding-bottom: 5%;
        width: 50%;
        vertical-align: middle;
    }
}

// Large only 
@media only screen and (min-width: 992px) {
    //Swipe
    #swipe-app-store {
        padding-top: 5%;
        padding-bottom: 10%;
        width: 50%;
        vertical-align: middle;
    }

    #swipe-hero-img {
        margin-top: 10%;
    }

    .site-footer {
        position: absolute;
        bottom: 0;
    }

    // .swipe-tagline-container p {
    //     line-height: 110%;
    // }
}

