// About page
@import '../_sass/vars';

#about-profile-pic {
	max-height: 175px;
}

.about-main {
	h1 {
		@extend %roboto;
		font-weight: 300;
	}
	h3 {
		@extend %roboto;
		font-weight: 300;
	}
}

.about-lead {
	padding-top: 4%;
}

.about-social img {
	max-height: 50px;
	max-width: 50px;
}