@import 'vars';

// Homepage
.swipe-logo-container {
    padding-top: 10%;
    vertical-align: middle;
}

#swipe-hero-img {
    vertical-align: middle;
    max-height: 500px;
}

.swipe {
    background-color: $fm-dark;
    height: 100%;

    .site-footer {
        // position: absolute;
        // bottom: 0;
        height: 60px;
        width: 100%;
    }
}

.swipe-tagline-container p {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%; 
    padding-right: 20%;
    color: $fm-orange;
    line-height: 110%;

    font-size: 36px;
    text-align: center;
}