<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-05-04-collapsible-comments-feed-in-swift.md</key>
			<dict>
				<key>lastModification</key>
				<real>492979286.32229</real>
				<key>version</key>
				<dict>
					<key>dd45c1de3fae75ff38916a16abac4fe7f531766541f7c061dcde993977b0307a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-06-swift-2-guide-to-keychain-encryption-part-one.md</key>
			<dict>
				<key>lastModification</key>
				<real>492979286.32229197</real>
				<key>version</key>
				<dict>
					<key>dd45c1de3fae75ff38916a16abac4fe7f531766541f7c061dcde993977b0307a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-07-swift-2-guide-to-keychain-encryption-part-two.md</key>
			<dict>
				<key>lastModification</key>
				<real>492979286.32229197</real>
				<key>version</key>
				<dict>
					<key>dd45c1de3fae75ff38916a16abac4fe7f531766541f7c061dcde993977b0307a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-10-swift-guide-to-nsoperations.md</key>
			<dict>
				<key>lastModification</key>
				<real>492979286.32229102</real>
				<key>version</key>
				<dict>
					<key>dd45c1de3fae75ff38916a16abac4fe7f531766541f7c061dcde993977b0307a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-12-creating-custom-error-pages-with-apache.md</key>
			<dict>
				<key>lastModification</key>
				<real>492979286.32229102</real>
				<key>version</key>
				<dict>
					<key>dd45c1de3fae75ff38916a16abac4fe7f531766541f7c061dcde993977b0307a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-18-using-custom-nibs-in-swift.md</key>
			<dict>
				<key>lastModification</key>
				<real>492979286.32229298</real>
				<key>version</key>
				<dict>
					<key>dd45c1de3fae75ff38916a16abac4fe7f531766541f7c061dcde993977b0307a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-15-securing-your-apache-server.md</key>
			<dict>
				<key>lastModification</key>
				<real>492979318.28744799</real>
				<key>version</key>
				<dict>
					<key>dd45c1de3fae75ff38916a16abac4fe7f531766541f7c061dcde993977b0307a</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>492979201.77262998</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-08-15-securing-your-apache-server.md</string>
		</array>
		<array>
			<string>2016-05-04-collapsible-comments-feed-in-swift.md</string>
		</array>
		<array>
			<string>2016-05-10-swift-guide-to-nsoperations.md</string>
		</array>
		<array>
			<string>2016-05-12-creating-custom-error-pages-with-apache.md</string>
		</array>
		<array>
			<string>2016-05-07-swift-2-guide-to-keychain-encryption-part-two.md</string>
		</array>
		<array>
			<string>2016-05-06-swift-2-guide-to-keychain-encryption-part-one.md</string>
		</array>
		<array>
			<string>2016-05-18-using-custom-nibs-in-swift.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>dd45c1de3fae75ff38916a16abac4fe7f531766541f7c061dcde993977b0307a</key>
			<integer>4</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>dd45c1de3fae75ff38916a16abac4fe7f531766541f7c061dcde993977b0307a</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
