{% include header.html %}
{% include title-group.html %}

    <main class="about-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="about-pic">
                        <img id="about-profile-pic" class="center-block" src="{{ site.data.global.url }}/assets/about-pic.png" />
                    </div>
                </div>
                <!-- <div class="col-xs-12 col-md-8 col-md-offset-1"> -->
                <div class="col-xs-12 col-md-9">
                    <div class="about-lead">
                        <h1 id="about-lead-text">
                            I'm Cameron Smith, founder and lead developer of Flying Moose Development.
                        </h1>
                    </div>
                    <br/>
                    <div class="about-sub">
                        <h3 id="about-sub-text">
                            I have over 4 years experience developing web and iOS apps, with the bulk of my work focused on Swift projects. Feel free to reach out if you want to know more!
                        </h3>
                        <br/>
                        <h3 id="about-sub-contact">
                            For project inquiries: <a href="mailto:projects@flyingmoose.co" target="_blank">projects@flyingmoose.co</a>
                            <br/>
                            <br/>
                            For anything else: <a href="mailto:cam@flyingmoose.co" target="_blank">cam@flyingmoose.co</a>
                        </h3>
                        <br/>
                    </div>
                    <br/>
                    <div class="about-social">
                        <div class="row">
                            <div class="col-xs-3">
                                <a href="https://twitter.com/FlyingMooseDev" target="_blank">
                                    <img id="twitter-icon" class="social-icon center-block" src="{{ site.data.global.url }}/assets/twitter-box.png" />
                                </a>
                            </div>
                            <div class="col-xs-3">
                                <a href="https://www.linkedin.com/in/cameron-smith-ba4a4819" target="_blank">
                                    <img id="linkedin-icon" class="social-icon center-block" src="{{ site.data.global.url }}/assets/linkedin-box.png" />
                                </a>
                            </div>
                            <div class="col-xs-3">
                                <a href="https://github.com/cabotmoose" target="_blank">
                                    <img id="github-icon" class="social-icon center-block" src="{{ site.data.global.url }}/assets/github-box.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}