{% include header.html %}
{% include title-group.html %}

    <main class="about-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <a href="https://itunes.apple.com/us/app/swipe-for-reddit/id1080026029?ls=1&mt=8" target="_blank">
                    <div class="project-card" id="swipe-card">
                        <img id="about-profile-pic" class="center-block" src="{{ site.data.global.url }}/assets/swipe.svg" />
                    </div>
                    <div class="project-card-text text-center" id="swipe-card-text">
                        <h3>Swipe for Reddit</h3>
                    </div>
                    </a>
                </div>
                <div class="col-xs-12 col-md-4">
                    <a href="https://itunes.apple.com/us/app/vipstonight-skip-the-line/id1125228190?ls=1&mt=8" target="_blank">
                    <div class="project-card" id="vipstonight-card">
                        <img id="about-profile-pic" class="center-block" src="{{ site.data.global.url }}/assets/vipstonight.svg" />
                    </div>
                    <div class="project-card-text text-center" id="vipstonight-card-text">
                        <h3>VIPsTonight</h3>
                    </div>
                    </a>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="project-card" id="netmap-card">
                        <img id="about-profile-pic" class="center-block" src="{{ site.data.global.url }}/assets/netmap.svg" />
                    </div>
                    <div class="project-card-text text-center" id="netmap-card-text">
                        <h3>Netmap (Coming Soon)</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}
