{% include header.html %}

    <main class="swipe-main">
        <div class="container">
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="swipe-logo-container">
                        <img id="swipe-hero-logo" class="center-block" src="{{ site.data.global.url }}/assets/swipe-logo.png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="swipe-logo-container">
                        <img id="swipe-hero-img" class="center-block" src="{{ site.data.global.url }}/assets/card-hero.png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="swipe-app-store-mobile">
                    <a href="https://itunes.apple.com/us/app/swipe-for-reddit/id1080026029?ls=1&mt=8" target="_blank">
                        <img id="swipe-app-store" class="center-block" src="{{ site.data.global.url }}/assets/app-store.png">
                    </a>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="swipe-hero-container">
                        <img id="swipe-hero-img" class="center-block" src="{{ site.data.global.url }}/assets/card-hero.png" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="swipe-info-container">
                        <div class="swipe-logo-container">
                            <img id="swipe-hero-logo" class="center-block" src="{{ site.data.global.url }}/assets/swipe-logo.png">
                        </div>
                        <div class="swipe-tagline-container">
                            <p>Discover a better way to Reddit</p>
                        </div>
                        <div class="swipe-app-store-container">
                            <a href="https://itunes.apple.com/us/app/swipe-for-reddit/id1080026029?ls=1&mt=8" target="_blank">
                                <img id="swipe-app-store" class="center-block" src="{{ site.data.global.url }}/assets/app-store.png">
                            </a>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}